body
{
    background-color: #fff9f0;
    background-position: center;
    background-attachment: fixed;
    margin: 5% auto 20%;
}

*
{
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    color: black;
}

#logo-anim
{
    width: 800px;
    height: 432px;
    max-width: 80vw;
    max-height: calc(80vw * (27/50));
    margin: auto;
}

#logo-anim img
{
    width: 100%;
    height: 100%;
}

#deck
{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;
}

.card
{
    margin: 20px 20px;
    padding: 10px;
    background-color: #fafafa;
    width: 250px;
    height: 390px;

    animation-name: slide-up 5s infinite;
}

h1.card-image
{
    width: 230px;
    height: 230px;
    margin: 10px auto;

    background-size: contain;
    background-repeat: no-repeat;
}

h1.card-image.writing 
{
    background-image: url("res/writingBlog.png");
}

.card-image.spotify 
{
    background-image: url("res/spofy.png");
}

.card-image.notion
{
    background-image: url("res/notion.png");
}

@keyframes slide-up
{
    from {top: 200px}
	to {top: 0px}
}