header
{
    height: 100%;
}

body
{
    background-color: #fff9f0;
    background-position: center;
    background-attachment: fixed;
    margin: 5% auto 20%;
}

*
{
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    color: black;
}

#logo-anim
{
    width: 800px;
    max-width: 80vw;
    margin: auto;
}

#deck
{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;
}

.card
{
    margin: 20px 20px;
    background-color: #fafafa;
    width: 250px;
    height: 350px;
}

.card header
{
    text-align: center;
}