header
{
    height: 100%;
}

body
{
    background-color: #fff9f0;
    background-position: center;
    background-attachment: fixed;
    margin: 5% auto 20%;
}

*
{
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    color: black;
}

#logo
{
    background-image: url("res/logo.svg ");
    background-size: 100% 100%;
	height: 80vh;
    margin: 5% 5% 10%;
}

#logo-anim
{
    width: 800px;
    max-width: 80vw;
}

.container
{
    display: flex;
    align-items: top;
    justify-content: center;
    flex-direction: row;
}