#spotify-svg
{
    background-color: #eeeeee;
    width: 230px;
    height: 230px;
}

#notion-svg
{
    background-color: #eeeeee;
    width: 230px;
    height: 230px;
}

#pen-svg
{
    background-color: #eeeeee;
    width: 230px;
    height: 230px;
}